
<!-- <app-customif></app-customif> -->

<!-- <app-view-child></app-view-child> -->
<!-- 
<app-outputview></app-outputview> -->

<app-product-dashboard></app-product-dashboard>

<!-- <app-tree-view></app-tree-view> -->

<!-- <app-reactive-form></app-reactive-form> -->
<!-- 
<app-viewchildren></app-viewchildren> -->
<!-- <app-ng-template></app-ng-template> -->

<!-- <app-ng-container></app-ng-container> -->

<!-- 
<div id="header" class="col-lg-12">Header</div>
<div id="sideLeft" class="col-lg-2">
<app-side-navigation></app-side-navigation>

</div>
<div id="body" class="col-lg-12">
  <router-outlet></router-outlet>

</div>


<div id="footer" class="col-lg-12"><p class="white-text">Footer</p> </div> -->