
<wns-new-task></wns-new-task>

<wns-show-task></wns-show-task>

<!-- <app-new-task></app-new-task>
<app-show-task></app-show-task> -->

<button mat-button (click)="openDialog()">Open dialog</button>
<!-- <app-of-andfrom></app-of-andfrom> -->
<!-- <app-observable-demo></app-observable-demo> -->

<!-- <app-student-list></app-student-list> -->

<!-- <app-customif></app-customif> -->

<!-- <app-view-child></app-view-child> -->
<!-- 
<app-outputview></app-outputview> -->

<!-- <app-product-dashboard></app-product-dashboard> -->

<!-- <app-tree-view></app-tree-view> -->
<!-- 
<app-reactive-form></app-reactive-form> -->
<!-- 
<app-viewchildren></app-viewchildren> -->
<!-- <app-ng-template></app-ng-template> -->

<!-- <app-ng-container></app-ng-container> -->

<!-- 
<div id="header" class="col-lg-12">Header</div>
<div id="sideLeft" class="col-lg-2">
<app-side-navigation></app-side-navigation>


</div>
<div id="body" class="col-lg-12">
  <router-outlet></router-outlet>

</div>


<div id="footer" class="col-lg-12"><p class="white-text">Footer</p> </div> -->