
<div class="row">
    <div class="col-md-6">
        <app-product-widget [products]="salesProduct">
            <h1 class="header">This is  Sales Product</h1>
            <a class="link" href="">Visit Store...</a>
        </app-product-widget>
    </div>

    <div class="col-md-6">
        <app-product-widget [products]="topProduct">
            <h1 class="header">This is our Top Product</h1>
            <a class="link" href="">See More..</a>
        </app-product-widget>
    </div>
   
</div>

